.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0;
}

.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;

}

.card_img {
    width: 100%;
    height: auto;
    z-index: -1;

}

.card_position {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}


.card_position:hover .card_img {
    opacity: .2;
}

.card_position:hover .img {
    transform: scale(1.009);
}

.card_position:hover .card_checkout {
    opacity: 1;
}

.card_checkout {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

}

.card_checkout__p {
    position: relative;
    font-size: var(--font-size-heading);
    font-weight: 500;
    color: rgb(26, 24, 24);
    text-transform: uppercase;
    /* z-index: 100; */
    display: block;
}

.card_checkout__p::before {
    content: "";
    position: absolute;
    transform: scale(2);
    top: 0;
    left: 0;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.card_checkout__p:hover::before {
    opacity: 1;
    transform: scale(1);
}


.card_checkout__p:hover .line {
    background-color: red;
}

.img {
    object-fit: contain;
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.5s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.icons {
    color: #6B6A77;
    user-select: none;
}

.detail {
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
}

.detail__title {
    font-weight: 600;
    font-size: 13pt;
    letter-spacing: 1.01px;
}

.detail_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: .01px solid #E7E7E7;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.icon {
    color: black;
    transition: all 0.4s;
}

.detail_btn:hover {
    z-index: 1;
}

.detail_btn::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    background-color: #E7E7E7;
    transition: all 0.5s;
    z-index: -1;
}

.detail_btn:hover .icon {
    color: black;
}

.detail_btn:hover::before {
    width: 100%;
}

/* /#E7E7E7 */
/* 
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    gap: 5px;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.like {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} */