html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

:root {
  --color-border: rgba(177, 170, 170, 0.575);
  --font-size-light: 10pt;
  --font-size-normal: 12pt;
  --font-size-heading: 18pt;
  --font-weight-heading: 700;
}